@import "common.css";

#master {
    -fx-background-color: #f1f1f1;
}

#sidebar {
    -fx-background-color: -app-blue;
}

.CloseBtn {
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
}

.CloseBtn FontIcon {
    -fx-fill: -app-blue;
    -fx-font-size: 18;
}

.CloseBtn:hover {
    -fx-opacity: 1;
}

.CloseBtn:hover FontIcon {
    -fx-fill: red;
}
