@import "common.css";

#master {
    -fx-background-color: -app-lighter-cream;
}

#sidebar {
    -fx-background-color: -app-blue;
}

#closeBtn {
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
}

#closeBtn FontIcon {
    -fx-fill: -app-blue;
    -fx-font-size: 18;
}

#closeBtn:hover {
    -fx-opacity: 1;
}

#closeBtn:hover FontIcon {
    -fx-fill: red;
}
