@import "common.css";

Label {
    -fx-font-size: 18px;
}

.textFieldPane {
    -fx-border-color: -app-blue;
    -fx-border-width: 0px 0px 2px 0px;
}

MFXTextField,
MFXPasswordField {
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-font-size: 18px;
}

MFXTextField .floating-text,
MFXPasswordField .floating-text {
    -fx-text-fill: -app-light-dark;
    -fx-background-color: transparent;
}

MFXTextField:floating .floating-text,
MFXPasswordField:floating .floating-text {
    -fx-text-fill: -app-lighter-dark;
}

.lblPay {
    -fx-text-fill: red;
    -fx-font-size: 52px;
    -fx-font-weight: bold;
}

.lblRoll {
    -fx-text-fill: -app-blue;
    -fx-font-size: 42px;
    -fx-font-weight: bold;
}

#rememberMe {
    -fx-font-size: 14px;
    -fx-text-fill: -app-dark;
    -fx-font-weight: bold;
}

#rememberMe .box {
    -fx-background-color: transparent;
    -fx-border-color: -app-blue;
    -fx-border-radius: 3px;
}

#rememberMe:selected .mark {
    -fx-background-color: white;
}

#rememberMe:selected .box {
    -fx-background-color: -app-blue;
}

#loginBtn {
    -fx-background-color: -app-light-blue;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-font-weight: 800;
    -fx-font-size: 20px;
    -fx-padding: 5px;
}

#loginBtn:hover {
    -fx-background-color: -app-blue;
}
