Label {
    -fx-font-size: 18px;
}

.textFieldPane {
    -fx-border-color: #6647cd;
    -fx-border-width: 0px 0px 2px 0px;
}

MFXTextField,
MFXPasswordField {
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-font-size: 18px;
}

MFXTextField .floating-text,
MFXPasswordField .floating-text {
    -fx-text-fill: #999999;
    -fx-background-color: transparent;
}

MFXTextField:floating .floating-text,
MFXPasswordField:floating .floating-text {
    -fx-text-fill: #B2B2B2;
}

.lblPay {
    -fx-text-fill: red;
    -fx-font-size: 52px;
    -fx-font-weight: bold;
}

.lblRoll {
    -fx-text-fill: #6647cd;
    -fx-font-size: 42px;
    -fx-font-weight: bold;
}

#rememberMe {
    -fx-font-size: 14px;
    -fx-text-fill: #565656;
    -fx-font-weight: bold;
}

#rememberMe .box {
    -fx-background-color: transparent;
    -fx-border-color: #6647cd;
    -fx-border-radius:3px;
}

#rememberMe:selected .mark {
    -fx-background-color: white;
}

#rememberMe:selected .box {
    -fx-background-color: #6647cd;
}

#loginBtn {
    -fx-background-color: #0498fe;
    -fx-background-radius: 0;
    -fx-text-fill: #fff;
    -fx-font-weight: 800;
    -fx-font-size: 20px;
    -fx-padding: 5px;
}

#loginBtn:hover {
    -fx-background-color: #6647cd;
}
