.button {
    -fx-font-family: "Arial";
    -fx-font-size: 20;
}

.list-view {
    -fx-background-insets: 0;
}

.list-cell {
    -fx-font-family: "Arial";
    -fx-font-size: 12;
    -fx-text-fill: -fx-text-inner-color;
    -fx-opacity: 1;
    -fx-alignment: center-left;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: -app-gradient-lightblue-blue;
    -fx-text-fill: white;
}

.label {
    -fx-font-family: "Arial";
    -fx-font-size: 25;
    -fx-background-color: lightgray;
    -fx-alignment: center;
}

#mainMenu Button {
    -fx-background-color: transparent;
    -fx-text-fill: -app-lighter-cream;
    -fx-padding: 30;
    -fx-alignment: center-left;
    -fx-graphic-text-gap: 30;
}

#mainMenu Button:hover,
#mainMenu Button.active {
    -fx-background-color: -app-dark-blue;
}

#mainMenu Button FontIcon {
    -fx-fill: -app-lighter-cream;
    -fx-alignment: center-left;
}

.logo Label {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
}

.lblPay {
    -fx-text-fill: -app-light-red;
    -fx-font-size: 52px;
}

.lblRoll {
    -fx-text-fill: -app-lighter-cream;
    -fx-font-size: 42px;
}

.logo FontIcon {
    -fx-fill: -app-light-red;
    -fx-font-size: 70;
}

#logoutBtn {
    -fx-background-color: transparent;
    -fx-font-size: 16;
    -fx-graphic-text-gap: 10;
    -fx-text-fill: -app-light-cream;
    -fx-alignment: center-left;
    -fx-padding: 0;
}

#logoutBtn FontIcon {
    -fx-fill: -app-light-cream;
    -fx-font-size: 16;
}

#logoutBtn:hover {
    -fx-text-fill: white;
}

#logoutBtn:hover FontIcon {
    -fx-fill: white;
}
