@import "common.css";

.mfx-button {
    -fx-background-radius: 10;
}

.modal-confirm-button:hover {
    -fx-background-color: -app-light-blue;
    -fx-text-fill: white;
}

.modal-cancel-button:hover {
    -fx-background-color: -app-light-red;
    -fx-text-fill: white;
}

.modal-ok-button:hover {
    -fx-background-color: -app-blue;
    -fx-text-fill: white;
}
