.back {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-pref-width: 20;
}

#backToListBtn:hover {
    -fx-background-color: -app-dark-blue;
}

#backBtn:hover {
    -fx-background-color: -app-light-blue;
}

.mfx-titled-pane .header-pane .header-label {
    -fx-font-weight: bold;
}

.mfx-titled-pane .header-pane .mfx-icon-wrapper {
    visibility: hidden;
}
MFXDatePicker.data-error,
MaskField.data-error,
MFXTextField.data-error {
    -fx-border-color: red;
}

MFXDatePicker.data-error .floating-text,
MaskField.data-error .floating-text,
MFXTextField.data-error .floating-text {
    -fx-text-fill: red;
}

.fieldset {
    -mfx-main: -mfx-purple;
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: lightgray;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.fieldset:focus-within {
    -fx-border-color: -mfx-purple;
}

.fieldset:focus-within .fieldset-title {
    -fx-text-fill: -mfx-purple;
}

.fieldset .fieldset-title {
    -fx-padding: 0 3;
    -fx-font-family: "Open Sans Regular";
    -fx-text-fill: -mfx-text-he;
    -fx-background-color: white;
}

MFXDatePicker.mfx-text-field:floating .floating-text {
    -fx-font-size: 15;
    -fx-padding: 0 3;
}

.vbox-labels Label {
    -fx-font-weight: bold;
}
