#master {
    -fx-background-color: #f1f1f1;
}

#sidebar {
    -fx-background-color: #6647cd;
}

.CloseBtn {
    -fx-background-color: transparent;
}

.CloseBtn FontIcon {
    -fx-fill: #6647cd;
}

.CloseBtn:hover FontIcon {
    -fx-fill: red;
}
