.container {
    -fx-background-color: #f1f1f1;
}

#leftPane {
    -fx-background-color: #6647cd;
}

Label {
    -fx-font-size: 18px;
}

TextField,
PasswordField {
    -fx-padding: 5px;
    -fx-border-color: #6647cd;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-font-size: 18px;
}

.lblPay {
    -fx-text-fill: red;
    -fx-font-size: 52px;
    -fx-font-weight: bold;
}

.lblRoll {
    -fx-text-fill: #6647cd;
    -fx-font-size: 42px;
    -fx-font-weight: bold;
}

#loginBtn {
    -fx-background-color: #0498fe;
    -fx-background-radius: 0;
    -fx-text-fill: #fff;
    -fx-font-weight: 800;
    -fx-font-size: 20px;
    -fx-padding: 5px;
}

.LoginBtn:hover {
    -fx-background-color: #6647cd;
}
