.container {
    -fx-background-color: #f1f1f1;
}

#leftPane {
    -fx-background-color: #6647cd;
}

Label {
    -fx-font-size: 18px;
}

TextField,
PasswordField {
    -fx-background-color: #fff;
    -fx-background-radius: 0;
    -fx-padding: 5px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 18px;
    -fx-background-position: right 5px center;
}

TextField {
    -fx-background-image: url('../images/icons/user-solid.png');
}

PasswordField {
    -fx-background-image: url('../images/icons/key-solid.png');
}

.lblPay {
    -fx-text-fill: red;
    -fx-font-size: 52px;
    -fx-font-weight: bold;
}

.lblRoll {
    -fx-text-fill: #6647cd;
    -fx-font-size: 42px;
    -fx-font-weight: bold;
}

.LoginBtn {
    -fx-background-color: #0498fe;
    -fx-background-radius: 0;
    -fx-text-fill: #fff;
    -fx-font-weight: 800;
    -fx-font-size: 20px;
    -fx-padding: 5px;
}

.LoginBtn:hover {
    -fx-background-color: #6647cd;
}